body


.container{
    padding:50px;
    width: 100%;
    float: left;
    display: flex;
    background-color: red;

}



.content{
    width: 100%;
    display: block;
    height: 800px;
    background-color: aquamarine;
}

.footer {
    height: 5em;
    width: 100%;
    display: flex;
}

ul {
     display: flex;
    background-color: bisque;
     justify-content: center;
    height: 3em;
 }

social {

    list-style-type: none;

}
