/*******************************************

              NASZA KOLORYSTYKA

czerwony:       #BF352F, rgba(191,53,47,1)
beżowy:         #FFD99B, rgba(255,217,155,1)
jasnozielony:   #88A34F, rgba(136,163,79,1)
ciemnozielony:  #224732, rgba(34,71,50,1)
bardzo ciemny:  #132326, rgba(19,35,38,1)

******************************************

/* ***** FONTS ***** */

/* latin-ext */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v7/s2PXW4WrV3VLrOUpHiqsfYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v7/sKd0EMYPAh5PYCRKSryvW5Bw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: local('Quicksand Medium'), local('Quicksand-Medium'), url(https://fonts.gstatic.com/s/quicksand/v7/FRGja7LlrG1Mypm0hCq0DojoYw3YTyktCCer_ilOlhE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: local('Quicksand Medium'), local('Quicksand-Medium'), url(https://fonts.gstatic.com/s/quicksand/v7/FRGja7LlrG1Mypm0hCq0Dhampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: local('Quicksand Bold'), local('Quicksand-Bold'), url(https://fonts.gstatic.com/s/quicksand/v7/32nyIRHyCu6iqEka_hbKsojoYw3YTyktCCer_ilOlhE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: local('Quicksand Bold'), local('Quicksand-Bold'), url(https://fonts.gstatic.com/s/quicksand/v7/32nyIRHyCu6iqEka_hbKshampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* ***** TOP ***** */

* {
    margin: 0;
}

body {
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    font-size: 20px;
    background: #FFD99B;
    overflow-x: hidden;
}

.top {
    height: 70px;
    background-color: #132326;
    color: #FFD99B;
    box-shadow: 0 0 50px #132326;
    position: relative;
    padding: 10px 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
}

.top .button {
    background: transparent;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: 1px solid #88A34F;
    text-decoration: none;
    color: #88A34F;
    text-align: center;
    font-size: 1em;
    line-height: 40px;
    margin: 5px 0;
    transition: 0.5s;
}

.top .button:hover {
    background: #88A34F;
    color: #132326;
    text-decoration: none;
}

/* ***** MAIN ***** */

.main {
    background-image: url("../images/bg.jpg");
    height: calc(100vh - 70px);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.circle {
    width: 50vh;
    height: 50vh;
    min-width: 450px;
    min-height: 450px;
    margin: 0 50px;
    padding: 2em;
    background: rgba(34, 71, 50, 0.25);
    border-radius: 50%;
    color: #132326;
    text-align: center;
    box-shadow: 0 0 20px #132326;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circle h1 {
    font-size: 2.4em;
}

@media only screen and (max-width: 500px) {
    .main{
        justify-content: center;
    }

    .circle {
        height: auto;
        width: 90vw;
        min-width: 90vw;
        max-width: 90vw;
        padding: 1em;
        border-radius: 0;
        margin: 0;
    }

    .circle h1 {
        font-size: 1.8em;
    }
}


.circle form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circle form input {
    background: #88A34F;
    height: 2em;
    width: 20vw;
    border-radius: 1em;
    border: 2px solid #132326;
    text-decoration: none;
    color: #132326;
    text-align: center;
    font-size: 1em;
    line-height: 2em;
    margin: 5px;
}

.circle form input[type="submit"] {
    width: 10em;
    max-width: 20em;
    min-width: 8em;
    transition: 1s;
    padding: 0;
}

.circle form input[type="email"] {
    width: 10em;
    max-width: 20em;
    min-width: 8em;
    transition: 1s;
}

.circle form input[type="email"]:hover {
    width: 15em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #132326;
    transition: 0.5s;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #132326;
    transition: 0.5s;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #132326;
    transition: 0.5s;
}

:-moz-placeholder { /* Firefox 18- */
    color: #132326;
    transition: 0.5s;
}

input:hover::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: transparent;
}

input:focus::-moz-placeholder { /* Firefox 19+ */
    color: transparent;
}

input:focus:-ms-input-placeholder { /* IE 10+ */
    color: transparent;
}

input:focus:-moz-placeholder { /* Firefox 18- */
    color: transparent;
}

/* ***** small scrolling mouse icon ***** */

.scroll {
    border: 4px solid #132326;
    height: 60px;
    width: 40px;
    border-radius: 42%;
    animation-name: shake;
    animation-iteration-count: 2;
    animation-duration: 0.25s;
    animation-delay: 4.5s;
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
}

.scroll:hover {
    animation-name: shake;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
}

.wheel {
    height: 15px;
    width: 4px;
    border-radius: 2px;
    background-color: #132326;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: scroll;
    animation-duration: 4s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes scroll {
    0% {
        top: 30%;
    }
    25% {
        top: 70%;
    }
    50% {
        top: 30%;
    }
    100% {
        top: 30%;
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg) translate(-50%, -50%);
    }
    25% {
        transform: rotate(5deg) translate(-50%, -50%);
    }
    50% {
        transform: rotate(0deg) translate(-50%, -50%);
    }
    75% {
        transform: rotate(-5deg) translate(-50%, -50%);
    }
    100% {
        transform: rotate(0deg) translate(-50%, -50%);
    }
}

@media only screen and (max-width: 500px) {
    .scroll, .wheel{
        display: none;
    }
