/*******************************************

              NASZA KOLORYSTYKA

czerwony:       #BF352F, rgba(191,53,47,1)
beżowy:         #FFD99B, rgba(255,217,155,1)
jasnozielony:   #88A34F, rgba(136,163,79,1)
ciemnozielony:  #224732, rgba(34,71,50,1)
bardzo ciemny:  #132326, rgba(19,35,38,1)

******************************************

/* ***** FONTS ***** */

  /* latin-ext */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v7/s2PXW4WrV3VLrOUpHiqsfYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v7/sKd0EMYPAh5PYCRKSryvW5Bw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }

  /* latin-ext */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: local('Quicksand Medium'), local('Quicksand-Medium'), url(https://fonts.gstatic.com/s/quicksand/v7/FRGja7LlrG1Mypm0hCq0DojoYw3YTyktCCer_ilOlhE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: local('Quicksand Medium'), local('Quicksand-Medium'), url(https://fonts.gstatic.com/s/quicksand/v7/FRGja7LlrG1Mypm0hCq0Dhampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: local('Quicksand Bold'), local('Quicksand-Bold'), url(https://fonts.gstatic.com/s/quicksand/v7/32nyIRHyCu6iqEka_hbKsojoYw3YTyktCCer_ilOlhE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }

  /* latin */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: local('Quicksand Bold'), local('Quicksand-Bold'), url(https://fonts.gstatic.com/s/quicksand/v7/32nyIRHyCu6iqEka_hbKshampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }

/* ***** TOP ***** */

*{
    margin: 0;
}

body {
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    font-size: 20px;
    background: #FFD99B;
}

.top{
    height: 12vh;
    background-color: #132326;
    color: #FFD99B;
    box-shadow: 0 0 50px #132326;
    z-index: 5;
    position: relative;
}

.left{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%, -50%);
    height: 3em;
}

.button{
    background: transparent;
    height: 2em;
    width: 12vw;
    border-radius: 1em;
    border: 2px solid #88A34F;
    text-decoration: none;
    color: #88A34F;
    text-align: center;
    font-size: 1em;
    line-height: 2em;
}

.right{
    position: absolute;
    left: 97.5%;
    top: 50%;
    transform: translate(-100%, -50%);
    transition: 0.4s;
}

.right:hover{
    background: #88A34F;
    color: #132326;
    text-decoration: none;
}

/* ***** MAIN ***** */

.formular{
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    position: absolute;
    left: 97.5%;
    top: 97.5%;
    transform: translate(-100%, -100%);
    transition: 1s;
}

/* .formular form {
    background: #132326;
    width: 12vw;
    border-radius: 5px;
    text-decoration: none;
    color: #c1c1c1;
    text-align: left;
    font-size: 0.5em;
} */

.glyphicon-envelope{
    color: #132326;
    font-size: 2em;
}

.formular input, textarea{
    background: transparent;
    margin: 0.25em;
    /* padding: 0.7em; */
    padding: 0;
    height: 2em;
    width: 12vw;
    border-radius: 1em;
    border: 2px solid #132326;
    text-decoration: none;
    color: #88A34F;
    text-align: center;
    font-size: 0.7em;
    line-height: 2em;
    transition: 1s;
}

textarea{
    height:6em;
    overflow: auto;
    line-height: 1em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #88A34F;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #88A34F;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #88A34F;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #88A34F;
  }

.send{
    background: transparent;
    padding: 0;
    height: 2em;
    width: 12vw;
    border-radius: 1em;
    border: 2px solid #132326;
    text-decoration: none;
    color: #132326;
    text-align: center;
    font-size: 1em;
    line-height: 2em;
    transition: 1s;
}

form{
    opacity:0;
    transition: 1s;
}

.formular:hover > form {
    opacity:1;
}

.send:hover{
    background: #132326;
    color: #88A34F;
}

.main{
    background-image: linear-gradient(to bottom, transparent, rgba(19,35,38,0.3)) , url("../images/bg.jpg");
    height: 88vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.circle{
    width: 33.333vw;
    height: 33.333vw;
    margin: 5vw;
    padding: 2em;
    background: rgba(34,71,50,0.25);
    border-radius: 50%;
    color: #132326;
    font-size: 1.2em;
    text-align: center;
    box-shadow: 0 0 20px #132326;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    flex-direction: column;
}

.circle h1, .circle h3{
    padding: 2rem 0;
}

.circle h3{
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate-reverse;;
}

.circle span{
    padding: 0;
    transition: all 0.3s ease-in-out;
    border-radius: 2em;
    display: inline-block;
    font-size: 1.5em;
    height: 2em;
    width: 2em;
    line-height: 2em;
}

.circle span:hover{
    background: #132326;
    /*background: #88A34F;*/
    color: #88A34F;
    cursor: pointer;
}

.scroll{
    border: 4px solid #132326;
    height: 60px;
    width: 40px;
    border-radius: 42%;
    animation-name: shake;
    animation-iteration-count: 2;
    animation-duration: 0.25s;
    animation-delay: 4.5s;
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
}

.scroll:hover{
    animation-name: shake;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
}

.wheel{
    height: 15px;
    width: 4px;
    border-radius: 2px;
    background-color: #132326;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: scroll;
    animation-duration: 4s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes scroll {
    0% {top: 30%;}
    25% {top: 70%;}
    50% {top: 30%;}
    100% {top: 30%;}
}

@keyframes shake {
    0% {transform: rotate(0deg) translate(-50%, -50%);}
    25% {transform: rotate(5deg) translate(-50%, -50%);}
    50% {transform: rotate(0deg) translate(-50%, -50%);}
    75% {transform: rotate(-5deg) translate(-50%, -50%);}
    100% {transform: rotate(0deg) translate(-50%, -50%);}
}

